<section id="admissions" class="bg-white shadow-md rounded-lg p-8 animate-fade-in">
        <h2 class="text-3xl font-bold mb-6 text-gray-800">招生信息</h2>
        <p class="text-lg text-gray-600 mb-4 animate-slide-in">
            PESI实验室诚邀对物理增强空间智能有热情的学生加入我们的研究团队。我们专注于多模态空间感知、物理驱动场景仿真和多智能体决策控制，欢迎志同道合的博士生和研究生申请。
        </p>



        <div class="mb-6 animate-slide-in" style="animation-delay: 0.6s;">
            <h3 class="text-2xl font-semibold mb-4 text-gray-700">学生培养</h3>
            <ul class="list-disc list-inside text-gray-600">
                <li>丰厚的学生补助。</li>
                <li>弹性出勤，结果导向，无需打卡。</li>
                <li>服务器资源充足：10卡3090 24G服务器(训练机)、8卡P40 24G服务器(测试机)，非大组机器， 小组内自用。校内集群8卡A800 (80G) 大量使用额度。
                </li>
                <li>研究生二年级暑期后可实习，提供丰富的就业机会。</li>
                <li>鼓励参加高水平学术会议，拓宽学术视野。</li>
            </ul>
        </div>

        <div class="mb-6 animate-slide-in" style="animation-delay: 0.9s;">
            <h3 class="text-2xl font-semibold mb-4 text-gray-700">招生要求</h3>
            <ul class="list-disc list-inside text-gray-600">
                <li>对空间智能、机器人、计算机视觉等相关方向有浓厚兴趣，自我驱动，愿意长期投入科研探索。</li>
                <li>具备扎实的数学与编程基础，熟悉Python等主流编程语言，有深度学习、图形学或机器人经验者优先。</li>
                <li>具有良好的工程实践能力和系统实现能力，有开源项目、科研竞赛或工程实习经历者优先。</li>
                <li>良好的英语读写能力，能够阅读和撰写英文论文。</li>
                <li>诚实守信，积极沟通，具备团队合作精神与主动汇报意识。</li>
                <li>拟以保研/推免方式加入实验室的同学，建议至少提前<span class="font-semibold text-gray-800">2个月进组实习</span>，参与实际科研项目，便于双方充分了解与磨合。</li>
            </ul>
        </div>

        <p class="text-lg text-gray-600 mb-4 animate-slide-in" style="animation-delay: 1.2s;">
            如果您对我们的研究方向感兴趣，请将个人简历（包括本科成绩单和排名）发送至：
        </p>
        <p class="text-lg font-semibold text-gray-800 animate-slide-in" style="animation-delay: 1.5s;">
            邮箱：ypxiong@bupt.edu.cn
        </p>
        <p class="text-lg text-gray-600 mb-4 animate-slide-in" style="animation-delay: 1.8s;">
            请在邮件主题中注明：“姓名-本科学校-保研申请”。若有疑问可联系组内学长（微信：Nobita_work）了解实验室详情。
        </p>
        <p class="text-lg text-gray-600 mb-4 animate-slide-in" style="animation-delay: 2.1s;">
            我们实验室位于科研楼404和410，欢迎现场参观我们的3D显示屏幕。
        </p>
        <p class="text-lg font-semibold text-gray-800 mb-4 animate-slide-in" style="animation-delay: 2.4s;">
            欢迎优秀本科生加入PESI活力研究团队！
        </p>
    </section>
